APP_NAME=
FILES_DRIVER=
APP_URL=

# -- MYSQL CONFIGS --
MYSQL_HOST=
MYSQL_PORT=
MYSQL_USER=
MYSQL_PSWD=
MYSQL_DATABASE=
TEST_MYSQL_URL=

# -- DEFAULT STORAGE PATH --
STORAGE_PATH=./storage
EXCEL_PATH=${STORAGE_PATH}/excel

# -- EXCEL PATHS --
PKMC_PATH=${EXCEL_PATH}
PK05_PATH=${EXCEL_PATH}