# -- APP CONFIG --
APP_NAME="Orquestrator Microservice"
APP_URL=
FILES_DRIVER=

# -- MQTT CONFIG --
AL_MQTT_ENDPOINT=
AL_MQTT_HOST=
AL_MQTT_PORT=
AL_MQTT_SUBSCRIBE_TOPIC=
AL_MQTT_PATH=

# -- CORE CONFIG --
CORE_URL=