# -- APP CONFIGS --
APP_NAME="Core Microservices"
APP_URL=
FILES_DRIVER=

PKMC_URL=
PK05_URL=

# -- MYSQL CONFIGS --
MYSQL_HOST=
MYSQL_PORT=
MYSQL_USER=
MYSQL_PSWD=
MYSQL_DATABASE=

# -- DEFAULT STORAGE PATH --
STORAGE_PATH=./storage/inputs/
EXCEL_STORAGE_PATH=${STORAGE_PATH}/excel
SAP_STORAGE_PATH = ${STORAGE_PATH}/sap

# -- EXCEL PATHS --
FX4PD_PATH=${EXCEL_STORAGE_PATH}

# -- SAP PATH --
LT22_PATH=${SAP_STORAGE_PATH}

# -- ASSEMBLY LINE CONFIGS --
AL_API_ENDPOINT= 

# -- SAP CONFIGS --
SAP_PATH=
SAP_CONNECTION_NAME=
SAP_USER=
SAP_PSWD=